// Import external dependencies

@import '../../cf-core/src/cf-core.less';

/* ==========================================================================
   Capital Framework
   <x> Styling
   ========================================================================== */

/* topdoc
  name: Tooltips
  family: cf-tooltips
  notes:
    - "Tooltips for the Capital Framework"
  patterns:
  - name: Tooltip
    markup: |
      <p>The following text is a valid target:
        <button data-tooltip__target="sample-one" class="tooltip__bare-button"><strong>valid target</strong></button>
      </p>
      <div class="tooltip__container" data-tooltip__name="sample-one">
        This is sample tooltip content.
      </div>
    notes:
      - "By adding the '.tooltip__container' class to an element (most likely a
        DIV), it becomes a tooltip."
      - "A tooltip is further defined by adding the 'data-tooltip__name' attribute
        to the element. The value of this attribute determines which targets will
        activate the tooltip."
      - "By adding the 'data-tooltip__target' attribute to an element, it becomes
        a clickable tooltip target, which activates tooltips. The target will
        activate the tooltip a 'data-tooltip__name' value equal to the target's
        'data-tooltip__target' value."
      - "Any element is a potential tooltip target, although we strongly recommend
        interactive elements, such as a BUTTON tag, to make the tooltip targets
        accessible in the simplest way. Also, for best results, the target should
        be an inline element, not a block element."
      - "Above, we use the '.tooltip__bare-button' class (see below) to 'strip out'
        the button styles."
  - name: Tooltip, Bare Button
    markup: |
      <p>The following text is a valid target:
        <button data-tooltip__target="sample-two" class="tooltip__bare-button">valid target</button>
      </p>
      <div class="tooltip__container" data-tooltip__name="sample-two">
        This is sample tooltip content.
      </div>
    notes:
      - "By adding the '.tooltip__bare-button' class to a BUTTON tag, the border,
        background, margin, and padding are removed or reset to inherit, thus removing
        default button styling."
  - name: Inline tooltip target
    markup: |
      <p>This is an 
        <button data-tooltip__target="sample-three" class="tooltip__bare-button tooltip__inline-target">inline target</button>
        for a tooltip.
      </p>
      <div class="tooltip__container" data-tooltip__name="sample-three">
        This is sample tooltip content for the inline tooltip.
      </div>
    notes:
      - The target has the class 'tooltip__inline-target'
      - "The '.tooltip__bare-button' class (see above) can be used with a BUTTON
        inline target to 'strip out' the default button styles."
  tags:
    - cf-tooltips
*/

// Color variables (from 18F's US Web Design Standards)
// https://github.com/18F/web-design-standards/blob/18f-pages/assets/_scss/core/_variables.scss
@tooltip-bg:              #ffffff; // $color-white
@tooltip-border:          #494440; // $color-gray-warm-dark
@tooltip-shadow:          #aeb0b5; // $color-gray-light
@tooltip-inline:          #aeb0b5; // $color-gray-light
@tooltip-inline-bg:       #e4e2e0; // $color-gray-warm-light

// .tooltip__container

.tooltip__container {
    background: @tooltip-bg;
    border: 1px solid @tooltip-border;
    display: none;
    font-size: unit( 14px / @base-font-size-px, em);
    line-height: unit( 19px / @base-font-size-px);
    max-width: unit( 270px / @base-font-size-px, em);
    padding: unit( 15px / @base-font-size-px, em);
    position: absolute;
    box-shadow: 2px 2px 0px 0px @tooltip-shadow;
    .webfont-regular();

    .triangle, {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 1px;
        position: absolute;
        margin-left: -7px;
        pointer-events: none;
    }
    .triangle-inner {
        border-top-color: @tooltip-bg;
        border-width: 6px;
        margin-left: -6px;
    }
    .triangle-outer {
        border-top-color: @tooltip-border;
        border-width: 7px;
    }
    .triangle-shadow {
        border-top-color: @tooltip-shadow;
        border-width: 8px;
        margin-top: 1px;  
    }

}

// [data-tooltip__target]

*[data-tooltip__target] {
    cursor: pointer;
}

.tooltip__bare-button {
  border: none;
  background: none;
  font-family: inherit;
  font-weight: inherit;
  padding: inherit;
  margin: inherit;
  outline: none;
}

.tooltip__inline-target {
  border-bottom: 1px dotted @tooltip-inline;

  &:hover,
  &.activated {
    background: @tooltip-inline-bg;
    cursor: help;
  }
}


/* topdoc
  name: EOF
  eof: true
*/
