// Import external dependencies

@import '../../cf-core/src/cf-core.less';

/* ==========================================================================
   Capital Framework
   <x> Styling
   ========================================================================== */

/* topdoc
  name: Tooltips
  family: cf-tooltips
  notes:
    - "Tooltips for the Capital Framework"
  patterns:
  - name: Tooltip
    markup: |
      <p>The following text is a valid target:
        <span data-tooltip__target="sample-two"><strong>valid target</strong></span>
      </p>
      <div class="tooltip__container" data-tooltip__name="sample-two">
        This is sample tooltip content.
      </div>
    notes:
      - "By adding the '.tooltip__container' class to a div, it becomes a tooltip."
      - "A tooltip is further defined by adding the 'data-tooltip__name' attribute
        to the element. The value of this attribute determines which targets will
        activate the tooltip."
      - "By adding the 'data-tooltip__target' attribute to an element, it becomes
        a clickable tooltip target, which activates tooltips. The target will
        activate the tooltip a 'data-tooltip__name' value equal to the target's
        'data-tooltip__target' value."
      - "Any element is a potential tooltip target, although inline elements
        tend to produce vastly better results"
  tags:
    - cf-tooltips
*/

// Color variables
@tooltip-bg:              #F8F8F8;
@tooltip-border:          #43484E;
@tooltip-shadow:          #BABBBD;

// .tooltip__container

.tooltip__container {
    background: @tooltip-bg;
    border: 1px solid @tooltip-border;
    display: none;
    font-size: unit( 14px / @base-font-size-px, em);
    line-height: unit( 19px / @base-font-size-px);
    max-width: unit( 270px / @base-font-size-px, em);
    padding: unit( 15px / @base-font-size-px, em);
    position: absolute;
    -webkit-box-shadow: 2px 2px 0px 0px @tooltip-shadow;
    -moz-box-shadow: 2px 2px 0px 0px @tooltip-shadow;
    box-shadow: 2px 2px 0px 0px @tooltip-shadow;

    .triangle-inner, .triangle-outer {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .triangle-inner {
        border-top-color: @tooltip-bg;
        border-width: 12px;
        margin-left: -12px;
    }
    .triangle-outer {
        border-top-color: @tooltip-border;
        border-width: 13px;
        margin-left: -13px;
    }

}

// [data-tooltip__target]

*[data-tooltip-target] {
    cursor: pointer;
}

.tooltip__inline-target {

}

/* topdoc
  name: EOF
  eof: true
*/
